/* Felles CSS - start - */ 

body {
    margin: 0;
    font-family: Copperplate, Helvetica, sans-serif;
    font-size: 1.1em;
    font-stretch: 100%;
    background-color: white;
    line-height: 1.5em;
    box-sizing: border-box;
}

hr {
    border-top: 6px solid #161b20;
}

h2 {
    font-size: 16px;
}

img {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    margin-top: 16px;
    line-height: 1.5;
    justify-content: center;
}

main {
    display: flex;
    vertical-align: baseline;
    justify-content: center;
}

article {
    margin-bottom: 5rem;
    width: 100%;
    justify-content: center;
}

.mega-div p{
    line-height: 2.0;
}
  
.mega-div {
    justify-content: center;
    margin-bottom:3rem;
}

.kildebokser > h2 {
    text-decoration: underline;
}
  
figcaption{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
  
.kildebokser {  
    overflow-wrap: break-word;    
    word-break: break-word;
    hyphens: auto;  
    /* Kode fra https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    /* Kode for å stoppe hyperlenkene i kildelisten i å flyte over når sidene skaleres til mindre skjermer */
}
/* Felles CSS - end - */ 

/* Navigasjonsbar CSS - start - */
/* CSS kode fra W3S - off-canvas menu - endret og lagt til nye funksjoner - fjernet JS og lagt til checkbox for å 
kunne åpne og lukke sidebaren */ 
/* https://www.w3schools.com/howto/howto_js_off-canvas.asp */

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
}

.sidebar {
    height: 100%;
    width: 390px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -390px;
    background-color: black; 
    overflow-x: hidden;
    padding-top: 55px;
    transition: 0.3s;
}

img.logo {
    width: auto;
}

.desktop-logo {
    height: 60px;
    width: 100%;
    text-align: center;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidebar a:hover {
    color: #a4a4a4;
}

.content {
    margin-left: 0;
    padding: 1px 16px;
    transition: margin-left 0.3s;
    margin-top: 40px;
}

.toggle-checkbox:checked + .toggle-label + .sidebar {
    left: 0;
}

.toggle-checkbox:checked + .toggle-label + .sidebar + .content {
    margin-left: 200px;
}

.toggle-label{
    border: 1px solid;
    padding: 5px;
    border-radius: 3px;
    background-color: #f1f1f1;
}

span {
    position: absolute;
    right: 0;
    padding: 5px;
    font-size: large;
}
/* Navigasjonsbar CSS - end - */

/* Footer CSS - start - */

footer {
    background-color: black;
    color: white;
}

footer h2 {
    color: #f1e36f;
}

.footer-grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    text-align: left;
    letter-spacing: 4px;
    font-size: smaller;
    margin: 25px 60px 75px 60px;
}

.epost a {
    color: white;
}

.epost a:hover {
    color: #f1e36f;
}

.kart {
    width: 500px;
    height: 200px;
    border: 0;
}
/* Footer CSS - end - */

/* Index CSS - start - */

.bilde-container{
    display: flex;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#oslometUni {
    border: 6px solid black;
    border-width: absolute;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px
}

.frontPageTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0;
}

.frontPageTitle h1 {
    font-size: 57px;
    border: none;
    outline: 0;
    display: inline-block;
    color: #161b20;
    background-color: whitesmoke;
    opacity: 90%;
    cursor: pointer;
    border-width: 3px;
    border-style: solid;
    border-color: #f1e36f;
}
/* Index CSS - end - */

/* Studentlivet CSS - start - */
.article-text {
    line-height: 2.0;
    justify-content: center;
    margin-bottom:3rem;

}

picture img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
/* Studentlivet CSS - end - */

/* Topical CSS - start - */

.mega-div {
    margin: 5%;
    border-color: black;
    border-style: solid;
    padding: 20px;
}

.tekstbokser{
    margin-right: 8%;
    margin-left: 8%;
}

.bildet1 {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.topicalTitle h1 {
    position:relative; 
    font-size:40px; 
    font-weight:700;  
    letter-spacing:0px; 
    text-transform:uppercase; 
    text-align:center; 
}

.oblig-tittel{
    font-size: 30px;
    font-weight:100;
    justify-content: space-between;
}

.innhold-tittel{
    font-size: 20.8px;
}

.hovedUnderOverskrift{
    text-decoration: underline;
    font-size: 20px;
}

#tekst-nr-1 ul li {
    margin-bottom: 50px;
}

#tekst-nr-2 ul li {
    margin-bottom: 50px;
}
/* Topical CSS - end - */

/* Accessibility CSS */

.h2Accessibility {
    font-size: 1.2em;
}

.bildetAccessibility1 {
    float:right;
    height: auto;
    max-width: 50%;
}

/* Legger til en margin under hvert listeelement for Ã¥ unngÃ¥ Ã¥ bruke linjeskift <br> */
#tekst-nr-1 #tekst-nr-2 #h2Accessibility ul li {
    margin-bottom: 40px;
}
/* Accessibility CSS - end - */

/* Fun CSS - start - */

section {
/** Bildet er hentet fra Oslomets bildearkiv: 
https://foto.oslomet.no/fotoweb/archives/5007-Arkitektur-ved-OsloMet/Folder%2052/CampusSommer-75.jpg.info#c=%2Ffotoweb%2Farchives%2F5007-Arkitektur-ved-OsloMet%2F **/

    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url(../img/CampusSommer-75.jpg);
    background-position: center;
    background-size: cover;
    animation: animateBgPx 5s linear infinite;
}

.funButton button {
    display: flex;
    position: absolute;
    left: 0;
    color: white;
}

@keyframes animateBgPx {
    100% {
        filter: hue-rotate(360deg);
    }
}

.innloggings-skjema {
    display: flex;
    position: relative;
    height: 450px;
    width: 400px;
    background: transparent;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
}

.logginnTitle {
    font-size: 2em;
    text-align: center;
    color: white;
}

.input-felt {
    margin: 30px 0;
    width: 310px;
    border-bottom: 3px solid white;
    position: relative;
}

.input-felt label {
    position: absolute;
    font-size: 1em;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
    color: white;

}

.input-felt input:focus~label,
.input-felt input:valid~label{
    top: -5px;
}

.input-felt input {
    background: transparent;
    padding: 0 40px 0 5px;
    height: 50px;
    width: 100%;
    font-size: 1em;
    outline: none;
    border: none;
    color: white;
}

.material-symbols-outlined {
    right: 8px;
    position: absolute;
    line-height: 57px;
    font-size: 1.2em;
    color: white;
}

.husker-huskerIkke {
    display: flex;
    color: white;
    font-size: 0.9em;
    margin: -15px 0 15px;
    justify-content: space-between;
}

.husker-huskerIkke label input {
    margin-right: 3px;
}

.husker-huskerIkke a {
    color: white;
}

.husker-huskerIkke a:hover{
    text-decoration: underline;
}

.sendInnButton button {
    background: white;
    height: 40px;
    width: 100%;
    border-radius: 40px;
    font-size: 1em;
    cursor: pointer;
    color: #161b20;
    font-weight: 500;
}

.nyBruker {
    color: white;
    margin: 25px 0 10px;
    text-align: center;
    font-size: 0.9em;
}

.nyBruker p a {
    color: white;
    font-weight: 700;
}

.nyBruker p a:hover {
    text-decoration: underline;
}
/* Fun CSS - end - */

/* Responsive CSS - start - */

/* Media query for Iphone 390 */

@media only screen and (max-width: 390px) {
    .sidebar {
        width: 100%;
        left: -100%;
    }

    .sidebar > a {
        font-size: 44px;
        padding: 30px;
    }
   
    .kart {
        width: 100% !important;
    }
    
}

@media screen and (max-width: 414px) {

    .sidebar > a {
        display: flex;
        justify-content: center;
        padding:25px 0px 20px 0px;
        color: white;
        font-size: 1.5em;
    }
    
    .tekstbokser picture img {
        width:90vw;
        display:flex;
        justify-content: center;
    }
    .main {
        font-size: 1em;
        float: none; 
        width: 100%;
    }
    .header h1 {
        font-size:1.5em;
    }
}

@media only screen and (min-width:414px) and (max-width:768px) {
    .sidebar {
        width: 100%;
        left: -100%;
    }
    .header h1 {
        font-size:1.5em;
    }
    .toggle-checkbox:checked + .toggle-label + .sidebar {
        left: 0;
    }
    .toggle-checkbox:checked + .toggle-label + .sidebar + .content {
        margin-left: 0;
    }
    
    .tekstbokser picture {
        display:flex;
        justify-content: center;
    }
    .kart {
        width: 100% !important;
    }

}
/* Responsive accessibility CSS */

@media screen and (max-width: 900px) {
    .bildetAccessibility1 {
        height: auto;
        max-width: 100%;
    }
}

/* Responsive accessibility CSS - end - */

/* Responsive CSS - end - */





